<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/client-functions.js"></script>
    <%# jquery %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <%# jquery ui%>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <%# css ui%>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Shop</title>
</head>
<body>
    <h1>Order</h1>


    <form id="shop" action="/particulars" method="POST">
        
        <label for="date-choice">Fulfillment Date </label>
        <input type="date" dateFormat="dd-mm-yy" id="date-choice" name="date" value="<%=weeks[0].start_date%>" readonly="true"> 

        <div id="datepicker"></div>
        <br><br>

        <label for="fulfillment">Fulfillment method</label>
        <select id="fulfillment" name="fulfillment">
          <option value="Delivery">Deliver</option>
          <option value="Self-Collection">Self-Collection</option>
        </select>
        <br><br>

        <table>
            <tr>
              <th>Item Name</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Price</th>
            </tr>
            <% for (let i = 0; i < items.length; i++) { %>
                <tr>
                    <td class = "<%= items[i].name %> item-name"><%= items[i].name %></td>
                    <td><input class="<%= items[i].name %> item-quantity" %> type="number" name = <%=items[i].name%> value = 0 min = "0"/></td>
                    <td class = "<%= items[i].name %> unit-price"><%= items[i].price.week1 %></td>
                    <td class = "<%= items[i].name %> price">0</td>
                </tr>
            <% }; %>
            <tr>
                <td></td><td></td>
                <td>Subtotal</td>
                <td id = "subtotal">0</td>
            </tr>  
            <tr>
                <td></td><td></td>
                <td class = "delivery-charge" id = "delivery-charge-label">Delivery</td>
                <td class = "delivery-charge" id = "delivery-charge"><%=deliveryCharge%></td>
            </tr>
            <tr>
                <td></td><td></td>
                <td>TOTAL</td>
                <td id = "total">0</td>
            </tr>
        </table>
        
        <input id="submit" type="submit" value="Submit" onkeypress="return event.keyCode != 13;">
        
    </form>

    <script>
    
    var freeDelivery = Number(<%= freeDelivery%>);
    var dailycap = <%- JSON.stringify(dailycap)%>;
    var items = <%- JSON.stringify(items)%>;
    var weeks = <%- JSON.stringify(weeks)%>;
    var standardDeliveryCharge = Number(<%= deliveryCharge%>);


    //shop update functions

    function updateshop(){
        refreshDatepicker();
        toggleAvailability();
        updateTotal();
    };

    function updateUnitPrice(){
        var week = "week"+checkOrderWeek()
        console.log(week);
        document.querySelectorAll('.unit-price').forEach(element => {
            var itemName = element.parentNode.querySelector(".item-name").innerHTML;
            var newPrice = items.find(x => x.name == itemName).price[week];
            element.innerHTML = newPrice;
            console.log("price for " + itemName + " = " + newPrice);
        });                       
    };

    function checkOrderWeek(){
        var day = document.getElementById('date-choice').value;
        day = new Date(day);
        for (let i = 0; i < weeks.length; i++) {
            var start = new Date(weeks[i].start_date);
            var end = new Date(weeks[i].end_date);
            if(day >= start && day <= end){
            return i;
            };
        };
    }


    function initialiseDatepicker(date){

        max = new Date(weeks[weeks.length-1].end_date);
        min = new Date(weeks[0].start_date);

        $( "#datepicker" ).datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: max,
            minDate: min,
            defaultDate: date,
            onSelect: function(date,obj){
                document.getElementById("date-choice").value = date;
                updateshop();
            },
            beforeShowDay: function(date){
                var day = [
                    date.getFullYear(), 
                    ('0' + (date.getMonth() + 1)).slice(-2),
                    ('0' + date.getDate()).slice(-2)
                ].join('-');
                capacityused = dailycap[day];
                if(checkcapacity()+capacityused>1000){
                    return [false,,]
                }else{
                    return [true,,]
                }           
            }
        });
    };

    function refreshDatepicker(){
        var date = $("#datepicker").datepicker("getDate");
        $("#datepicker").datepicker("destroy");
        initialiseDatepicker(date);

    };

    function updatePrice(){
        updateUnitPrice();
        document.querySelectorAll('.item-quantity').forEach(element => {
            element.parentNode.parentNode.querySelector('.price').innerHTML = element.value*element.parentNode.parentNode.querySelector('.unit-price').innerHTML;
        });                    
    };

    function updateSubtotal(){
        updatePrice();
        var subtotal = 0;
        document.querySelectorAll('.price').forEach(element => {
                subtotal += Number(element.innerHTML);
        });
        document.getElementById("subtotal").innerHTML = subtotal;
        return Number(subtotal);                       
    };

    function toggleDeliverCharge(){
        if(document.getElementById("fulfillment").value == "Delivery" && updateSubtotal() >= freeDelivery){
            document.getElementById("delivery-charge-label").innerHTML="Free Delivery";
            document.getElementById("delivery-charge-label").classList.remove("hidden");
            document.getElementById("delivery-charge").classList.add("hidden");
            console.log('freeDelivery');
            return 0;
        }else if(document.getElementById("fulfillment").value == "Delivery"){
            document.getElementById("delivery-charge-label").innerHTML="Delivery";
            document.getElementById("delivery-charge").innerHTML=standardDeliveryCharge;
            document.querySelectorAll('.delivery-charge').forEach(element => {
                element.classList.remove("hidden");           
            });
            console.log('chargeableDelivery');
            return standardDeliveryCharge;
        }else{
            document.querySelectorAll('.delivery-charge').forEach(element => {
                element.classList.add("hidden");
            });
            console.log('collection');
            return 0;
        }               
    };

    function updateTotal(){
        var total = updateSubtotal() + toggleDeliverCharge();
        console.log(typeof toggleDeliverCharge());
        console.log(total);
        document.getElementById("total").innerHTML = total;
    }

    function toggleAvailability(){
        var orderCapacity = checkcapacity();
        var day = document.getElementById('date-choice').value;
        if(orderCapacity+dailycap[day]>1000){
            document.getElementById("submit").disabled = true;
        }else{
            document.getElementById("submit").disabled = false;
        };
        console.log("ordercapacity= " + orderCapacity);
        console.log("daycapacity= " + dailycap[day]);
        console.log("totalcapacity= " + (orderCapacity+dailycap[day]));
    };

    function checkcapacity(){
        var orderCapacity = 0;
        document.querySelectorAll('.item-quantity').forEach(element => {
            var itemName = element.parentNode.parentNode.querySelector(".item-name").innerHTML;
            var capacity = items.find(x => x.name == itemName).capacity;
            orderCapacity += element.value*capacity;
        });
        return orderCapacity;
    }


    //initialise datepicker
    
    initialiseDatepicker();

    //Update shop

    updateshop();
    document.getElementById("shop").addEventListener("change", updateshop);

    </script>


</body>
</html>